/*Add CSS styles here*/
.title {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

background{
    color: #00ffc8;
}
h1 {
    color: #00788d;
    font-size: 50px;	
    }
h2 {
    color: #00ff00;
    font-size: 50px;	
    }
/*For map and slide container*/
#map {
    height: 200px;
    width: 50%;
    display: inline-block;
}
#panel {    
    width: 16%;    
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}

.sequence-control-container {  
    width: 350px;  
    height: 30px;  
    background-color: rgba(255,255,255,0.8);  
    padding: 10px;  
    line-height: 45px;  
    text-align: center;  
    border: solid gray 1px;  
}  

.range-slider {  
    width: 250px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}  

.step {  
    width: 40px;  
}  

.step img {  
    width: 100%;  
    height: auto;  
}

#forward {  
    float: right;  
}  

#reverse {  
    float: left;  
}